# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Database
*.sqlite3

# Environment variables
.env

# macOS files
.DS_Store

# Windows files
Thumbs.db

# IDE directories
.vscode/
.idea/
